* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    background-color: #F7FEFF;
}

body {
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    background: #F7FEFF!important;
}

.container {
    min-height: 400px;
	max-height: 600px;
    min-width: 650px;
	max-width: 850px;
    box-shadow: 3px 3px 10px -2px #040404;
    display: flex;
    border-radius: 10px;
    background-color: white;
}

.image {
    flex: 25%;
    background: #000059;
    background-size: cover;
    text-align: center;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	border-radius: 10px;
}

.buttons {
	margin-top: 25%;
	background-color: #000059;
}

#btnCreateProject {
	background-color: #000059;
	border: none;
	color: #fff;
	padding: 5px;
	font-weight: normal;
}

#btnCreateProject:hover {
	background-color: #218bb8;
	transform: scale(1.1);
}

#btnOpenProjectFromBrowser {
	background-color: #000059;
	border: none;
	color: #fff;
	padding: 5px;
	font-weight: normal;
}

#btnOpenProjectFromBrowser:hover {
	background-color: #218bb8;
	transform: scale(1.1);
}

#btnOpenProjectFile {
	background-color: #000059;
	border: none;
	color: #fff;
	padding: 5px;
	font-weight: normal;
}

#btnOpenProjectFile:hover{
	background-color: #218bb8;
	transform: scale(1.1);
}

#btnExportProject {
	background-color: #000059;
	border: none;
	color: #fff;
	padding: 5px;
	font-weight: normal;
}

#btnExportProject:hover{
	background-color: #218bb8;
	transform: scale(1.1);
}

#btnApagarProjecto {
	background-color: #000059;
	border: none;
	color: #fff;
	padding: 5px;
	font-weight: normal;
}

#btnApagarProjecto:hover{
	background-color: #218bb8;
	transform: scale(1.1);
}

.image h1 {
    margin-top: 20%;
    padding-left: 20px;
    padding-right: 20px;
    letter-spacing: 2px;
    margin-bottom: 10px;
	font-size: 26px;
	font-weight: bold;
	color: #fff;
}

/* .image p {
    margin-top: 30%;
    padding-left: 20px;
    padding-right: 20px;
    letter-spacing: 1px;
    margin-bottom: 10px;
	font-size: 24px;
	color: black;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	
} */

span {
    color: white;
	font-size: 20px;
}

.content {
    flex: 40%;
    background-color: white;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
	border-radius: 10px;
	margin-top: 10%;
}

.projects {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.projects > div {
    margin-top: 8px;
}

#z01 {
    margin-top: 12%;
	border-bottom: 1px solid #000;
	width: 55%;
}

#z02, #z03, #z04, #z05 {
    border-bottom: 1px solid #000;
    width: 55%;
    margin-top: 12%;
}

.content h1 {
    font-size: 28px;
    color: #7f7f7f;
	font-weight: normal;
	margin-bottom: 5%;
}

#txt {
    margin: 10px;
    padding: 5px;
    border: none;
    background-color: rgba(156, 77, 156, 0.3);
    border-radius: 10px;
    font-weight: bold;
    font-size: small;
    font-family: 'Montserrat', sans-serif;
    color: #aa38a4;
}

label {
    font-weight: bold;
    font-size: small;
}

#txt:focus {
    outline: none;
}

.fp {
    text-decoration: none;
    font-weight: bold;
    font-size: small;
    transition: 0.3s;
}

.fp:hover {
    color: #c446c9;
}

button {
    padding: 10px 40px;
    margin-top: 20px;
    border: none;
    background: linear-gradient(to right, #4568DC, #B06AB3);
    border-radius: 20px;
    transition: 0.3s;
}

button:hover {
    transform: scale(1.2);
}

button a {
    text-decoration: none;
    color: white;
}

#foot {
    margin-top: -2%;
    background-color: #F7FEFF;
}

#floatingTreeh {
    font-size: small;
    margin-bottom: 6%;
}

#togetherjs-dock.togetherjs-dock-right {
    right: -7%!important;
    top: 40%!important;
}

.togetherjs .togetherjs-window {
    margin-top: -20%!important;
}


#footstage {
    color: #000;
    position: absolute;
    top: 90% !important;
    left: 44% !important;
}

#title {
    width: 120%;
}

#v-2 {
    background-color: #fff !important;
    margin-left: 1%!important;
}

header {
    background-color: #fff !important;
}

#voltarPagPrincipal, #btnthemes, #btnlanguage, #btnVoltarInicio, #btnClose, #btnSaveProject, #btnCallChat, #btnStartTogetherJS {
    background-color: #F7FEFF!important;
    color: #000!important;
}

#lng_english:hover, #lng_portuguese:hover, #btnChangeStyleLight:hover, #btnChangeStyleDark:hover, #btnGravarProjeto:hover, #btnGuardarCasosUsoDisco:hover{
    background-color: #F7FEFF!important;
    color: #000!important;
}

#floatingTree {
    background-color: #F7FEFF!important;
}

#floatingMenu{
    background-color: #F7FEFF!important;
}